{
    "openapi": "3.0.0",
    "info": {
        "title": "API Usuarios",
        "description": "Se usa para las acciones principales del usuario",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.juandiegows.com"
        }
    ],
    "paths": {
        "/api/ip-address": {
            "get": {
                "tags": [
                    "IP Address"
                ],
                "summary": "Obtiene la información de la dirección IP del cliente",
                "operationId": "6e5c4e393cabc0c2ad5a8a59a10f7111",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ipv4": {
                                            "description": "Dirección IPv4 del cliente",
                                            "type": "string"
                                        },
                                        "ipv6": {
                                            "description": "Dirección IPv6 del cliente",
                                            "type": "string"
                                        },
                                        "client": {
                                            "description": "Información del cliente, como el agente de usuario",
                                            "type": "string"
                                        },
                                        "browser": {
                                            "description": "Navegador utilizado por el cliente",
                                            "type": "string"
                                        },
                                        "system": {
                                            "description": "Sistema operativo del cliente",
                                            "type": "string"
                                        },
                                        "useHttps": {
                                            "description": "Indica si la solicitud se realizó a través de HTTPS",
                                            "type": "boolean"
                                        },
                                        "now": {
                                            "description": "Fecha y hora actuales",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Obtiene todos los usuarios",
                "operationId": "c457726701591d1183b53aa71fc13441",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/User"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/{user}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Obtiene los detalles de un usuario",
                "operationId": "a0fa3a08f20fb611866a52d1bb2e43dd",
                "parameters": [
                    {
                        "name": "users",
                        "in": "path",
                        "description": "ID o nombre de usuario del usuario",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Usuario encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Usuario no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        },
                                        "data": {
                                            "description": "Usuario no encontrado",
                                            "type": "object",
                                            "example": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/{user}/services": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Obtiene los servicios que ofrece de un usuario",
                "operationId": "d56314ee221ddbddaa2228bc64e88c43",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "ID o nombre de usuario del usuario",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Servicios del usuario obtenidos correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Service"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Usuario no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        },
                                        "data": {
                                            "description": "Usuario no encontrado",
                                            "type": "object",
                                            "example": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/{user}/socialMedias": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Obtiene las redes sociales de un usuario",
                "operationId": "13840e257dc8b281b5292d670d5f6752",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "ID o nombre de usuario del usuario",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Redes sociales del usuario obtenidas correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SocialMediaEntry"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Usuario no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        },
                                        "data": {
                                            "description": "Usuario no encontrado",
                                            "type": "object",
                                            "example": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/{user}/professions": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Obtiene las profesiones de un usuario",
                "operationId": "411f3418893c46f7dc435cef91af64ec",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "ID o nombre de usuario",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ProfessionUser"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Usuario no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/{user}/clients": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Obtiene todos los clientes de un usuario",
                "operationId": "a948d2cbeb9c7a0c16c752f1e5c25b52",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "ID o nombre de usuario del usuario",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ClientInfo"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Usuario no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/{user}/skills": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Obtiene las habilidades de un usuario",
                "operationId": "db99f6aea8174985e27542327e7a73a9",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "ID o nombre de usuario del usuario",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TopicResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/{user}/works": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Obtiene todas las experiencias laborales de un usuario",
                "operationId": "40972fbd0499ca4cf15961f746b31adc",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "ID o nombre de usuario del usuario",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/WorkResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/{user}/educations": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Obtiene la educación de un usuario",
                "operationId": "38256959ea1785560970c9b7df93b1dc",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "ID o nombre de usuario del usuario",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EducationResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users/{user}/projects": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Obtiene todos los proyectos de un usuario",
                "operationId": "5c5bae15cf452da695d34628142b615f",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "ID o nombre de usuario del usuario",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ProjectResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user/{user}/posts": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Obtiene las publicaciones de un usuario",
                "operationId": "51f77b16633a940e3bacdd358361672a",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "ID o nombre de usuario del usuario",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/PostResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "meta": {
                                            "$ref": "#/components/schemas/Meta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ClientInfo": {
                "title": "Client DTO",
                "description": "Array de datos de servicio",
                "properties": {
                    "id": {
                        "description": "ID del servicio",
                        "type": "integer"
                    },
                    "name": {
                        "description": "Nombre del servicio",
                        "type": "string"
                    },
                    "description": {
                        "description": "Descripción del servicio en inglés",
                        "type": "string"
                    },
                    "spanish_description": {
                        "description": "Descripción del servicio en español",
                        "type": "string"
                    },
                    "url_logo": {
                        "description": "URL del logotipo del servicio",
                        "type": "string"
                    },
                    "link_site": {
                        "description": "Enlace al sitio web del servicio",
                        "type": "string"
                    },
                    "year": {
                        "description": "Año del servicio",
                        "type": "integer"
                    },
                    "topics": {
                        "description": "Temas del servicio en inglés",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "topics_spanish": {
                        "description": "Temas del servicio en español",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "count_participants": {
                        "description": "Cantidad de participantes del servicio",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "EducationResource": {
                "title": "EducationResource",
                "description": "Modelo de recurso de educación",
                "properties": {
                    "id": {
                        "description": "ID de la educación",
                        "type": "integer"
                    },
                    "entity": {
                        "description": "Entidad educativa",
                        "type": "string"
                    },
                    "title": {
                        "description": "Título de la educación",
                        "type": "string"
                    },
                    "spanish_title": {
                        "description": "Título de la educación en español",
                        "type": "string"
                    },
                    "title_education": {
                        "description": "Título de la educación",
                        "type": "string"
                    },
                    "spanish_title_education": {
                        "description": "Título de la educación en español",
                        "type": "string"
                    },
                    "description": {
                        "description": "Descripción de la educación",
                        "type": "string"
                    },
                    "spanish_description": {
                        "description": "Descripción de la educación en español",
                        "type": "string"
                    },
                    "certificate_url": {
                        "description": "URL del certificado de la educación",
                        "type": "string",
                        "format": "url",
                        "nullable": true
                    },
                    "start_date": {
                        "description": "Fecha de inicio de la educación",
                        "type": "string",
                        "format": "date"
                    },
                    "end_date": {
                        "description": "Fecha de finalización de la educación",
                        "type": "string",
                        "format": "date"
                    }
                },
                "type": "object"
            },
            "ImageResource": {
                "title": "ImageResource",
                "description": "Modelo de recurso de imagen",
                "properties": {
                    "id": {
                        "description": "ID de la imagen",
                        "type": "integer"
                    },
                    "name": {
                        "description": "Nombre de la imagen",
                        "type": "string"
                    },
                    "name_spanish": {
                        "description": "Nombre de la imagen en español",
                        "type": "string"
                    },
                    "link": {
                        "description": "Enlace completo de la imagen",
                        "type": "string",
                        "format": "url"
                    },
                    "link_900": {
                        "description": "Enlace de la imagen con ancho de 900px",
                        "type": "string",
                        "format": "url"
                    },
                    "link_700": {
                        "description": "Enlace de la imagen con ancho de 700px",
                        "type": "string",
                        "format": "url"
                    },
                    "link_300": {
                        "description": "Enlace de la imagen con ancho de 300px",
                        "type": "string",
                        "format": "url"
                    }
                },
                "type": "object"
            },
            "PostResource": {
                "title": "PostResource",
                "description": "Modelo de publicación",
                "properties": {
                    "id": {
                        "description": "ID de la publicación",
                        "type": "integer"
                    },
                    "title": {
                        "description": "Título de la publicación en inglés",
                        "type": "string"
                    },
                    "spanish_title": {
                        "description": "Título de la publicación en español",
                        "type": "string"
                    },
                    "topics": {
                        "description": "Temas de la publicación en inglés",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "topics_spanish": {
                        "description": "Temas de la publicación en español",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "url_image": {
                        "description": "URL de la imagen asociada a la publicación",
                        "type": "string",
                        "format": "url"
                    },
                    "link": {
                        "description": "Enlace asociado a la publicación",
                        "type": "string"
                    },
                    "date": {
                        "description": "Fecha de la publicación",
                        "type": "string",
                        "format": "date"
                    },
                    "created_at": {
                        "description": "Fecha de creación de la publicación",
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "description": "Fecha de actualización de la publicación",
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "ProfessionResource": {
                "title": "ProfessionResource",
                "description": "Modelo de profesión",
                "properties": {
                    "id": {
                        "description": "ID de la profesión",
                        "type": "integer"
                    },
                    "name": {
                        "description": "Nombre de la profesión en inglés",
                        "type": "string"
                    },
                    "name_spanish": {
                        "description": "Nombre de la profesión en español",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ProjectResource": {
                "title": "ProjectResource",
                "description": "Modelo de recurso de proyecto",
                "properties": {
                    "id": {
                        "description": "ID del proyecto",
                        "type": "integer"
                    },
                    "client_id": {
                        "description": "ID del cliente asociado al proyecto",
                        "type": "integer"
                    },
                    "principal_project_id": {
                        "description": "ID del proyecto principal",
                        "type": "integer"
                    },
                    "front_page": {
                        "$ref": "#/components/schemas/ImageResource"
                    },
                    "title": {
                        "description": "Título del proyecto",
                        "type": "string"
                    },
                    "spanish_title": {
                        "description": "Título del proyecto en español",
                        "type": "string"
                    },
                    "short_description": {
                        "description": "Breve descripción del proyecto",
                        "type": "string"
                    },
                    "spanish_short_description": {
                        "description": "Breve descripción del proyecto en español",
                        "type": "string"
                    },
                    "description": {
                        "description": "Descripción detallada del proyecto",
                        "type": "string"
                    },
                    "spanish_description": {
                        "description": "Descripción detallada del proyecto en español",
                        "type": "string"
                    },
                    "view_link": {
                        "description": "Enlace de visualización del proyecto",
                        "type": "string"
                    },
                    "download_link": {
                        "description": "Enlace de descarga del proyecto",
                        "type": "string"
                    },
                    "video_link": {
                        "description": "Enlace del video del proyecto",
                        "type": "string"
                    },
                    "date": {
                        "description": "Fecha del proyecto",
                        "type": "string",
                        "format": "date"
                    },
                    "created_at": {
                        "description": "Fecha de creación del proyecto",
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "description": "Fecha de actualización del proyecto",
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "TopicResource": {
                "title": "TopicResource",
                "description": "Recurso para un tema",
                "properties": {
                    "id": {
                        "description": "ID del tema",
                        "type": "integer"
                    },
                    "name": {
                        "description": "Nombre del tema",
                        "type": "string"
                    },
                    "spanish_name": {
                        "description": "Nombre del tema en español",
                        "type": "string"
                    },
                    "link_image": {
                        "description": "Enlace a la imagen del tema",
                        "type": "string",
                        "format": "url"
                    },
                    "description": {
                        "description": "Descripción del tema",
                        "type": "string"
                    },
                    "spanish_description": {
                        "description": "Descripción del tema en español",
                        "type": "string"
                    },
                    "topic_master": {
                        "$ref": "#/components/schemas/TopicResource"
                    },
                    "type_topic": {
                        "$ref": "#/components/schemas/TypeTopicResource"
                    }
                },
                "type": "object"
            },
            "TypeTopicResource": {
                "title": "TypeTopicResource",
                "description": "Recurso para un tipo de tema",
                "properties": {
                    "id": {
                        "description": "ID del tipo de tema",
                        "type": "integer"
                    },
                    "name": {
                        "description": "Nombre del tipo de tema",
                        "type": "string"
                    },
                    "spanish_name": {
                        "description": "Nombre del tipo de tema en español",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "WorkResource": {
                "title": "WorkResource",
                "description": "Modelo de recurso para experiencia laboral",
                "properties": {
                    "id": {
                        "description": "ID de la experiencia laboral",
                        "type": "integer"
                    },
                    "logo": {
                        "description": "URL del logo de la empresa",
                        "type": "string",
                        "nullable": true
                    },
                    "business": {
                        "description": "Nombre del negocio o empresa",
                        "type": "string"
                    },
                    "profession": {
                        "$ref": "#/components/schemas/ProfessionResource"
                    },
                    "description": {
                        "description": "Descripción de la experiencia laboral",
                        "type": "string"
                    },
                    "spanish_description": {
                        "description": "Descripción en español de la experiencia laboral",
                        "type": "string"
                    },
                    "certificate_url": {
                        "description": "URL del certificado de la experiencia laboral",
                        "type": "string",
                        "nullable": true
                    },
                    "topics": {
                        "description": "Temas relacionados a la experiencia laboral",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "topics_spanish": {
                        "description": "Temas relacionados a la experiencia laboral en español",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "start_date": {
                        "description": "Fecha de inicio de la experiencia laboral",
                        "type": "string",
                        "format": "date"
                    },
                    "end_date": {
                        "description": "Fecha de finalización de la experiencia laboral",
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "Meta": {
                "title": "Meta",
                "description": "Metadatos de la respuesta JSON.",
                "properties": {
                    "code": {
                        "description": "Código de estado de la respuesta.",
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "description": "Mensaje de la respuesta en inglés.",
                        "type": "string"
                    },
                    "messageSpanish": {
                        "description": "Mensaje de la respuesta en español.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ProfessionUser": {
                "title": "Profession",
                "description": "Modelo de profesión",
                "properties": {
                    "id": {
                        "description": "ID de la profesión",
                        "type": "integer"
                    },
                    "name": {
                        "description": "Nombre de la profesión en inglés",
                        "type": "string"
                    },
                    "name_spanish": {
                        "description": "Nombre de la profesión en español",
                        "type": "string"
                    },
                    "pivot": {
                        "description": "Información adicional de la relación entre usuario y profesión",
                        "properties": {
                            "user_id": {
                                "description": "ID del usuario relacionado",
                                "type": "integer"
                            },
                            "profession_id": {
                                "description": "ID de la profesión relacionada",
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "Service": {
                "title": "Service",
                "description": "Modelo de servicio",
                "properties": {
                    "id": {
                        "description": "ID del servicio",
                        "type": "integer"
                    },
                    "user_id": {
                        "description": "ID del usuario asociado al servicio",
                        "type": "integer"
                    },
                    "title": {
                        "description": "Título del servicio en inglés",
                        "type": "string",
                        "maxLength": 250
                    },
                    "spanish_title": {
                        "description": "Título del servicio en español",
                        "type": "string",
                        "maxLength": 250
                    },
                    "description": {
                        "description": "Descripción del servicio en inglés",
                        "type": "string"
                    },
                    "spanish_description": {
                        "description": "Descripción del servicio en español",
                        "type": "string"
                    },
                    "active": {
                        "description": "Indica si el servicio está activo",
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "SocialMedia": {
                "title": "SocialMedia",
                "description": "Modelo de red social",
                "properties": {
                    "id": {
                        "description": "ID de la red social",
                        "type": "integer"
                    },
                    "name": {
                        "description": "Nombre de la red social",
                        "type": "string",
                        "maxLength": 100
                    },
                    "link_image": {
                        "description": "Enlace a la imagen de la red social",
                        "type": "string",
                        "maxLength": 200,
                        "nullable": true
                    },
                    "url": {
                        "description": "Enlace a la imagen de la red social completa",
                        "type": "string",
                        "maxLength": 200,
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "SocialMediaEntry": {
                "title": "SocialMediaEntry",
                "description": "Entrada de red social",
                "properties": {
                    "id": {
                        "description": "ID de la entrada de red social",
                        "type": "integer"
                    },
                    "user_id": {
                        "description": "ID del usuario asociado a la entrada",
                        "type": "integer"
                    },
                    "social_media_id": {
                        "description": "ID de la red social asociada a la entrada",
                        "type": "integer"
                    },
                    "link": {
                        "description": "Enlace de la red social",
                        "type": "string"
                    },
                    "is_principal": {
                        "description": "Indica si la red social es la principal del usuario",
                        "type": "boolean"
                    },
                    "social_media": {
                        "$ref": "#/components/schemas/SocialMedia"
                    }
                },
                "type": "object"
            },
            "User": {
                "title": "User",
                "description": "User object",
                "properties": {
                    "id": {
                        "description": "User ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "description": "User's name",
                        "type": "string"
                    },
                    "last_name": {
                        "description": "User's last name",
                        "type": "string"
                    },
                    "email": {
                        "description": "User's email",
                        "type": "string",
                        "format": "email"
                    },
                    "user_name": {
                        "description": "User's username",
                        "type": "string",
                        "nullable": true
                    },
                    "password": {
                        "description": "User's password",
                        "type": "string",
                        "nullable": true
                    },
                    "remember_token": {
                        "description": "User's remember token",
                        "type": "string",
                        "nullable": true
                    },
                    "created_at": {
                        "description": "Date and time when the user was created",
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "description": "Date and time when the user was last updated",
                        "type": "string",
                        "format": "date-time"
                    },
                    "active": {
                        "description": "Whether the user is active or not",
                        "type": "boolean"
                    },
                    "is_principal": {
                        "description": "Whether the user is principal or not",
                        "type": "boolean"
                    }
                },
                "type": "object"
            }
        }
    }
}